# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data directories (these will be created inside the container)
uploads/
outputs/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 